{% extends 'main_base.html' %}
{% block content %}

<div class="container-fluid">
<h2 style="text-align: center;">Our Story</h2><br>
<p style="text-align: justify;">
Known to all as Navya Bake Shop, the journey of our chain of shops began way back in 1984. It all started under the name of Navya Bakery and Coffee shop in an assuming part of Kerala called Karukutty. Mr. C.V. Ouseph and his sons C.O.Anto, Pauly Joseph and Biju Joseph took a leap of faith and plunged into the business. 6 employees, a menu card of thirty products and a rented space has grown into ten stores, over four hundred and fifty mouth watering products and a strong team of around three hundred and fifty employees today.
Over 35 years, Navya Bake Shop has grown leaps and bounds and we owe it all to the loyalty shown by our customers since its inception. In 1996, Navya Bakery and Coffee shop’s production unit was acquired by Pauly and Biju and was renamed P&B Bakers. In December 2010, Navya was registered and rechristened as Navya Bakes and Confectionery India Private Limited. Our palaharams have become the most soul satisfying and sought after ones for more than three decades and we continue to deliver excellence in a lip smacking and delightful way!
With the aim to blend in traditional baking ideas with innovative and creative ones, Navya bakers brings to you heavenly goodies from a vivid range of baked savouries like biscuits, cakes, pastries, rolls, puffs, buns, breads, pizzas and the list goes on. We also take pride in the fact that we are the first bakery in Kerala to use only 100% natural colours and flavours. We go a mile ahead and deliver more than what we promise using our up to date technology, machinery and numerous other resources.
</p>
</div>
<div class="container">
    <img src="/static/image/j.webp" class="img-fluid">
</div>
{% endblock %}