<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main base</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://path/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <link type="text/css" href="https://path/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,300" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body style="background-color: whitesmoke;">
  <!-- NAVIGATION -->
  <nav class="navbar navbar-expand-sm  navbar-dark " style=" background-color: rgb(110, 20, 20);" >
    <a class="navbar-brand" href="#" >
      <img src="/static/image/na.webp"   height="45px" alt="" class="img-fluid" style="width: 6vw;">
      <img src="/static/image/s.webp"   height="50px" alt="" class="img-fluid" style="width: 10vw;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>    
  <div class="collapse navbar-collapse" id="collapsibleNavbar" >
    <ul class="navbar-nav ml-auto" style="float: right;">
      <form class="d-flex" action="{% url 'search' %}" method="get" >
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" id="a1">LOGIN</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}" id="a1">REGISTER</a>
      </li>
      
         
    </ul>
    
  </div>        
  </nav> 
  <nav class="navbar navbar-expand-sm  navbar-dark " style=" background-color: rgb(110, 20, 20);" >
    <!-- Brand -->
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar1">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="collapsibleNavbar1" >
      <ul class="navbar-nav " >
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"id="a1">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}" id="a1">ABOUT US</a>
        </li>
        </div>
        
      </ul>
      
    </div>
        
  </nav>


    {% block content %}
    
    {% endblock %}<br><br>
    <footer class=" text-center text-white">
      <div class="container-fluid" style="background-color: rgb(110, 20, 20);"><br>
        <p style="text-align: center;">We are currently accepting only cash in advance on order</p>
        <marquee><p style="text-align: center;background-color: rgb(245, 167, 22);width: 400px;height: 25px;">ONLINE PAYMENT COMING SOON</p></marquee><br>
      </div>
      <div class="container-fluid" style="background-color: rgba(149, 13, 161, 0.2);">
        <a class="" href="https://bakery.com/">© 2020 Copyright:bakery.com</a><br>
      </div>
    </footer>   
</body>
</html>